.ward, .room {
width: 150px;
height: 150px;
background-color: #b9cd6d;
}

.ward:hover, .room:hover {
	border: 5px solid #888;
}
.col-xs-2 {
	padding: 3px;
}
input[type="text"] {
    text-transform: capitalize;
}
input[type="text"]:focus {
    background-color: yellow;
}
.ui-widget-header,.ui-state-default, ui-button {
background:#b9cd6d;
border: 1px solid #b9cd6d;
color: #FFFFFF;
font-weight: bold;
}

.ui-widget-input {
	background-color: #244354;
}
td
{
    padding:0 5px 0 5px;
}

.error_create, .success_create, #sc, #fc{
    width:200px;
    height:20px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: green;
    color: #F0F0F0;
    font-size: 13px;
    padding:10px;
    text-align:center;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.error_create {
    background-color: red;
}

.badge {
    background-color: #234242;
}


.add_patients_plus_icon {
    cursor: pointer;
    color: green;
    font-size: 25px;
}

.fa-trash-o {
    color: red;
    font-size: 25px;
    cursor: pointer;
}